.card-container {
  display: flex;
  flex-direction: column;
  color: #ecf0f1;
  background-color: #34495e;
  border: 3px solid #2c3e50;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

/* not entirely sure of the use of backface vis, transform and transition in this use case */

.card-container img {
  width: 180px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #ecf0f1;
  border-style: solid;
  border-color: #2c3e50;
  border-width: 3px;
}

.card-container:hover {
  transform: scale(1.05);
}
